@font-face {
  font-family: 'Pacifico';
  src: url('pacifico.eot');
  src: url('pacificod41d.eot?#iefix') format('embedded-opentype'),
    url('pacifico.woff') format('woff'), url('pacifico.ttf') format('truetype'),
    url('pacifico.svg#Pacifico') format('svg');
}

#carbonads {
  --width: 180px;
  --font-size: 14px;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: var(--width);
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1);
  background-color: hsl(0, 0%, 98%);
  font-size: var(--font-size);
  line-height: 1.5;
}

#carbonads a {
  color: #3498db;
  text-decoration: none;
}

#carbonads a:hover {
  color: #3498db;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin-bottom: 8px;
  max-width: var(--width);
  line-height: 1;
}

.carbon-img img {
  display: block;
  margin: 0 auto;
  max-width: var(--width) !important;
  width: var(--width);
  height: auto;
}

.carbon-text {
  display: block;
  padding: 0 1em 8px;
}

.carbon-poweredby {
  display: block;
  padding: 10px var(--font-size);
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      hsla(0, 0%, 0%, 0.025) 5px,
      hsla(0, 0%, 0%, 0.025) 10px
    )
    hsla(203, 11%, 95%, 0.4);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 0;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  #carbonads {
    float: none;
    margin: 0 auto;
    max-width: 330px;
    color: #3498db;
  }
  #carbonads span {
    position: relative;
  }
  #carbonads > span {
    max-width: none;
    color: #3498db;
  }
  .carbon-img {
    float: left;
    margin: 0;
  }

  .carbon-img img {
    max-width: 130px !important;
  }
  .carbon-text {
    float: left;
    margin-bottom: 0;
    padding: 8px 20px;
    text-align: left;
    max-width: calc(100% - 130px - 3em);
  }
  .carbon-poweredby {
    left: 130px;
    bottom: 0;
    display: block;
    width: 100%;
  }
}

#disqus_thread {
  margin-top: 20px;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.blue {
  background: #3498db;
  color: #fff;
}
.blue h3 {
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.variable-width .slick-slide p {
  background: #fff;
  height: 100px;
  color: #3498db;
  margin: 5px;
  line-height: 100px;
}

.margin-40 {
  margin-bottom: 40px;
}
.red {
  background: #e74c3c;
  color: #fff;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid #fff;
  display: block;
  width: 100%;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 30px auto 50px;
}

#carbonads {
  max-width: 320px;
  width: 100%;
  color: white;
  background: white;
  padding: 20px 20px 20px;
  margin: 0px auto 40px;
  text-align: center;
  position: relative;
  top: 40px;
}
#carbonads a {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 10px;
  line-height: 1.5;
}
#carbonads .carbon-img {
  margin-bottom: 10px;
}
@media (max-width: 420px) {
  ul.nav li a {
    display: block;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  
  #carbonads {
    top: 0px;
  }
  .header ul.nav li {
    display: block;
    margin: 20px;
  }
  .blue h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
  .content {
    margin: auto;
    padding: 20px 40px;
    width: auto;
  }
  .fixed-header .header-content {
    width: auto;
  }
}

.native-js {
  visibility: hidden;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}

.native-show {
  visibility: visible;
  opacity: 1;
  box-shadow: 0 -1px 4px hsla(0, 0%, 0%, 0.2);
}

.native-img {
  margin-right: 20px;
  max-height: 50px;
  border-radius: 3px;
}

.native-flex {
  display: flex;
  padding: 20px 20px;
  text-decoration: none;

  flex-flow: row nowrap;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.native-main {
  display: flex;
  flex-grow: 1;

  flex-flow: row nowrap;
  align-items: center;
}

.native-details {
  display: flex;
  margin-right: 10px;

  flex-flow: column nowrap;
}

.native-company {
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}

.native-desc {
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.4;
}

.native-cta {
  padding: 10px 14px;
  border-radius: 3px;
  box-shadow: 0 6px 13px 0 hsla(0, 0%, 0%, 0.15);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  transform: translateY(-1px);
}

.native-cta:hover {
  box-shadow: none;
  transform: translateY(1px);
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  .native-flex,
  .native-main {
    flex-flow: column nowrap;
  }

  .native-img,
  .native-details {
    margin: 0;
  }

  .native-img {
    margin-bottom: 10px;
  }

  .native-main {
    text-align: center;
    margin-bottom: 20px;
  }
}
